
.mainparent {
    padding: 375px 47px 0px 47px;
  }
  
  .child-1 {
    float: left;
    margin: -90px 20px 0px 20px;
  }
  
  .child-2 {
    float: right;
    margin: -234px 20px 0px 20px;
  }
  
  .child-1 p {
    font-size: 40px;
  }
  
  .child-1 h1 {
    font-size: 50px;
    margin-top: 20px;
    word-spacing: 2px;
  }
  
  .child-1 span {
    color: #ff004f;
  }
  
  .child-2 img {
    height: 380px;
    width: 400px;
    border-radius: 10px;
  }